/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LeapSEQ Viral Metagenomics Pipeline config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process.debug = true
conda.enabled = true

process {
withLabel:process_low {
        cpus   = 16
        memory = 12.GB
        time   = '1.h'
    }
}

params {


    csv_file               = 'batch1_samplesheet.csv'
    fastq_dir              = '/mnt/d/projects/virba1/virus_batch1/virba1/20240122_1352_MN39052_FAX83240_a0b41a74/fastq_pass'
    pod5_dir               = '/mnt/d/projects/virba1/virus_batch1/virba1/20240122_1352_MN39052_FAX83240_a0b41a74/pod5_pass'
    pod5_split             = true // false or true
    references             = '/home/biolab/databases/references/GCF_000001405.40_GRCh38.p14_genomic.fna'

    databases {
        kraken_db          = '/home/biolab/databases/kraken2/refseq_virus'

    }

    conda_envs {
        //default_env            = '/mnt/d/postdoc/01_projects/2023_leapseq/p_2024_mvp/metagenomics_env.yaml'
        default_env              = '/home/biolab/miniconda3/envs/viral_metagenomics_env'
    }

}