/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LeapSEQ Viral Metagenomics Pipeline config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process.debug = true
conda.enabled = true

process {
withLabel:process_low {
        cpus   = 16
        memory = 12.GB
        time   = '1.h'
    }
}

params {

    csv_file               = 'batch3_samplesheet.csv'
    fastq_dir              = '/mnt/d/projects/virba3/virba3/virus_batch_3/20240610_1645_MN39052_FAY23303_0b914691/fastq_pass'
    pod5_dir               = '/mnt/d/projects/virba3/virba3/virus_batch_3/20240610_1645_MN39052_FAY23303_0b914691/pod5'
    pod5_split             = true // false or true
    references             = '/home/biolab/databases/references/GCF_000001405.40_GRCh38.p14_genomic.fna'

    databases {
        kraken_db          = '/home/biolab/databases/kraken2/refseq_virus'

    }

    conda_envs {
        default_env        = '/home/biolab/miniconda3/envs/viral_metagenomics_env'
    }

}