/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LeapSEQ Viral Metagenomics Pipeline config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process.debug = true
conda.enabled = true

//process.container = 'community.wave.seqera.io/library/kraken2_minimap2_pod5_samtools_pruned:8468368a274d51e1'
docker.enabled = false // true

process {  
withLabel:process_low {
        cpus   = 16
        memory = 12.GB
        time   = '1.h'
    }
}

params {


    csv_file               = 'minimal_example.csv'
    fastq_dir              = '/mnt/d/postdoc/01_projects/squidpipe/data/fastq'
    pod5_dir               = '/mnt/d/postdoc/01_projects/squidpipe/data/pod5'
    pod5_split             = true // false or true
    //references           = '/home/biolab/databases/references/GCF_000001405.40_GRCh38.p14_genomic.fna'
    references             = '/home/the_darwim/databases/GCF_000001405.40_GRCh38.p14_genomic.fna' 

    databases {
        //kraken_db        = '/home/biolab/databases/kraken2/refseq_virus'
		kraken_db          = '/home/the_darwim/databases/kraken2/refseq_virus'
    }

    conda_envs {
        default_env        = '/home/the_darwim/miniconda3/envs/viral_metagenomics_env'
        //default_env      = '/home/biolab/miniconda3/envs/viral_metagenomics_env'
    }

}