/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LeapSEQ Viral Metagenomics Pipeline config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process.debug = true
conda.enabled = true

process {
withLabel:process_low {
        cpus   = 20
        memory = 20.GB
        time   = '1.h'
    }
}

params {


    //csv_file             = 'samplesheet.csv'
    csv_file               = 'samplesheet_subset.csv'
    fastq_dir            = '/mnt/d/postdoc/01_projects/2024_squidbase/virus_batch_1/fastq_pass'
    //fastq_dir              = '/mnt/d/postdoc/01_projects/fastq_subset_mvp'
    barcode_dirs           = '/mnt/d/postdoc/01_projects/2024_squidbase/virus_batch_1/fastq_pass/barcode{01..24}'
    pod5_dir               = '/mnt/d/postdoc/01_projects/2024_squidbase/virus_batch_1/somepath/pod5_pass '
    pod5_split             = false // or true
    references             = '/mnt/d/postdoc/01_projects/2023_leapseq/data/test_genome.fna'

    databases {
        kraken_db          = '/home/the_darwim/databases/kraken2/refseq_virus'

    }

    conda_envs {
        //default_env            = '/mnt/d/postdoc/01_projects/2023_leapseq/p_2024_mvp/metagenomics_env.yaml'
        default_env            = '/home/the_darwim/miniconda3/envs/viral_metagenomics_env'
    }

}