/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SquiDPipe
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*
plugins {
    id 'nf-validation'
}

validation {
    help {
    enabled: true
    }
}
*/

process.debug = true

// Select here whether you want to use conda, docker or apptainer
conda.enabled = false
docker.enabled = false
apptainer.enabled = true


process {  
container = 'wim1994/squidpipe:latest'

// adjust computational resources below
withLabel:process_low {
        cpus   = 16
        memory = 12.GB
        time   = '23.h'
    }
}

params {

    // Input files and directories

    csv_file               = 'full.csv'
    fastq_dir              = "${projectDir}/data/fastq"
    pod5_dir               = "${projectDir}/data/pod5"
    references             = '/home/the_darwim/databases/GCF_000001405.40_GRCh38.p14_genomic.fna' 
    
    // Options
    
    // if true, all metadata should be included, and an input file for squidbase will be generated 
    csvMeta                = true // false or true 

    // if true, subsetted POD5 files will be generated
    pod5_split             = true // false or true
    
    // Databases
    databases {
		kraken_db          = '/home/the_darwim/databases/kraken2/refseq_virus'
    }

    // Conda environments

    conda_envs {
        default_env        = "${projectDir}/squidpipe_env.yaml"
    }

}