/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LeapSEQ Viral Metagenomics Pipeline config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

plugins {
  id 'nf-validation'
}

process.debug = true
conda.enabled = false

//process.container = 'community.wave.seqera.io/library/kraken2_minimap2_pod5_samtools_pruned:8468368a274d51e1'
docker.enabled = false

apptainer.enabled = true

process {  
container = 'wim1994/squidpipe:latest'
withLabel:process_low {
        cpus   = 16
        memory = 12.GB
        time   = '1.h'
    }
}

params {

    // Input files and directories
    //csv_file               = 'minimal_example.csv'
    csv_file               = 'full.csv'
    fastq_dir              = '/mnt/d/postdoc/01_projects/squidpipe/data/fastq'
    pod5_dir               = '/mnt/d/postdoc/01_projects/squidpipe/data/pod5'
    //references           = '/home/biolab/databases/references/GCF_000001405.40_GRCh38.p14_genomic.fna'
    references             = '/home/the_darwim/databases/GCF_000001405.40_GRCh38.p14_genomic.fna' 
    
    // Options
    
    // if true, all metadata should be included, and an input file for squidbase will be generated 
    csvMeta                = true // false or true 

    // if true, subsetted POD5 files will be generated
    pod5_split             = true // false or true
    
    // Databases
    databases {
        //kraken_db        = '/home/biolab/databases/kraken2/refseq_virus'
		kraken_db          = '/home/the_darwim/databases/kraken2/refseq_virus'
    }

    // Conda environments

    conda_envs {
        default_env        = '/home/the_darwim/miniconda3/envs/squidpipe_env'
        //default_env        = '/home/the_darwim/miniconda3/envs/viral_metagenomics_env'
        //default_env      = '/home/biolab/miniconda3/envs/viral_metagenomics_env'
    }

}